
body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #444;
  
}

.section-bg{
  background-image: url("../img/bg.gif");
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px 0px 15px;
  color: #0b0f28;
  font-weight: 700;
}


h1 {
  font-size: 43px;
}

h2 {
  font-size: 31px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 16px;
}

.lead {
  font-size: 20px;
}

a {
  color: #0b0f28;
  -webkit-transition: 0.3s color;
  transition: 0.3s color;
}

a:hover, a:focus {
  text-decoration: none;
  outline: none;
  color: #dd0a37;
}

.bio{
    margin-left: 40px;
    margin-top: 40px;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none
}

.main-btn {
  display: inline-block;
  padding: 14px 50px;
  background: #dd0a37;
  color: #FFF;
  text-transform: uppercase;
  border: none;
  border-radius: 2px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.main-btn:hover, .main-btn:focus {
  color: #FFF;
  opacity: 0.8;
}

.input {
  height: 40px;
  width: 100%;
  border: 2px solid #dadada;
  padding: 0px 15px;
  border-radius: 2px;
  -webkit-transition: 0.3s border;
  transition: 0.3s border;
}

textarea.input {
  height: 90px;
  padding: 15px;
}

.input:focus {
  border-color: #dd0a37;
}


.section {
  position: relative;
  padding: 90px 0px;
}

.section-bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  z-index: 0;
}

.section-title {
  text-align: center;
  margin-bottom: 60px;
}

.section-title .title {
  position: relative;
  text-transform: capitalize;
  font-weight: 900;
  font-size: 42px;
  overflow: hidden;
}

.section-title .title>span {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  display: inline-block;
  z-index: 10;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.section-title .title>span.appear {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
}


.navbar-brand {
  padding: 0;
  margin: 15px 0px;
}

.navbar-brand .logo {
  display: inline-block;
}

.navbar-brand .logo>img {
  max-height: 50px;
}

@media only screen and (max-width: 767px) {
  .navbar-brand {
    margin: 15px 15px;
  }
}

#header.transparent-navbar:not(.fixed-navbar) .navbar-brand .logo .logo-img {
  display: none;
}

#header.fixed-navbar .navbar-brand .logo .logo-alt-img {
  display: none;
}

#header:not(.transparent-navbar) .navbar-brand .logo .logo-alt-img {
  display: none;
}

#header {
  position: relative;
  background-color: #FFF;
  border-bottom: 1px solid #0000001a;
  z-index: 80;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

#header.transparent-navbar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-color: transparent;
  border-bottom: 1px solid #DADADA30;
}

#header.fixed-navbar {
  position: fixed !important;
  left: 0;
  right: 0;
  top: 0;
  background: #FFF;
  -webkit-box-shadow: 0px 0px 3px #0003;
  box-shadow: 0px 0px 3px #0003;
  border-bottom: none;
  -webkit-animation: slide-in 0.3s;
  animation: slide-in 0.3s;
}

@-webkit-keyframes slide-in {
  from {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

@keyframes slide-in {
  from {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

.main-nav li a {
  position: relative;
  padding: 30px 15px;
  color: #0b0f28;
  text-transform: uppercase;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

#header.transparent-navbar .main-nav li a {
  color: #FFF;
}

#header.fixed-navbar .main-nav li a {
  color: #0b0f28;
}

.main-nav li.active a:after {
  content: "";
  height: 3px;
  position: absolute;
  bottom: -3px;
  width: 100%;
  left: 0;
  background: #dd0a37;
}

.main-nav li a:hover, .main-nav li a:focus {
  background-color: transparent;
  color: #dd0a37;
}

#header.transparent-navbar .main-nav li a:hover {
  color: #dd0a37;
}

.navbar-toggle {
  display: none;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  margin: 15px;
  padding: 0;
  font-size: 32px;
  color: #0b0f28;
}

#header.transparent-navbar .navbar-toggle {
  color: #FFF;
}

#header.fixed-navbar .navbar-toggle {
  color: #0b0f28 !important;
}

/* Mobile nav */

@media only screen and (max-width: 767px) {
  .main-nav {
    margin: 0px -15px;
    max-height: 0;
    overflow-y: scroll;
    background-color: #FFF;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
  }
  .main-nav.open {
    max-height: 500px;
  }
  .main-nav li.active a:after {
    display: none;
  }
  #header.transparent-navbar .main-nav li a {
    color: #0b0f28;
  }
  .main-nav li a:hover, .main-nav li a:focus, .main-nav li.active a {
    background-color: #dd0a37;
    color: #fff !important;
  }
  .navbar-toggle {
    display: block;
  }
}


 .alert {
  
  right: 0%;
  padding: 20px;
  background-color: rgb(0,0,0,0.1);
  color: white;
  width: 350px;
  
}
.alert a{
    color: white;
}
.alert a:hover{
    color: #dd0a37;
}
.closebtn {
  margin-left: -150px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;

  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
    
}



#home {
  height: 100vh;
  position: relative;
}

#home .home-wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.home-content h1 {
  text-transform: capitalize;
  font-weight: 900;
  color: #FFF;
}

.home-content h4 {
  color: #FFF;
}

.home-content p{
    color: white;
}

#page-wrapper {
  background-color: #F9F9FA;
}

.page-wrapper-content {
  text-align: center;
}



#numbers {
  margin-top: 60px;
}

.number {
  margin-bottom: 30px;
}

.number h3 {
  font-size: 42px;
  margin-bottom: 0px;
  color: #dd0a37;
}

.number p {
  text-transform: uppercase;
  color: #0b0f28;
}


.galery-item img{
    width: 400px;
    height: 500px;
}

#galery-owl .owl-item .galery-item {
  
  opacity: 0.5;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -webkit-transition: 0.6s opacity, 0.6s -webkit-transform;
  transition: 0.6s opacity, 0.6s -webkit-transform;
  transition: 0.6s transform, 0.6s opacity;
  transition: 0.6s transform, 0.6s opacity, 0.6s -webkit-transform;
}

#galery-owl.owl-theme .owl-item.active+.owl-item .galery-item {
  -webkit-transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
}

#galery-owl.owl-theme .owl-item.active .galery-item {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

#galery-owl.owl-theme .owl-nav {
  margin-top: 0px;
}

#galery-owl.owl-theme .owl-nav [class*='owl-'] {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: transparent;
  color: #dd0a37;
  width: 90px;
  height: 90px;
  line-height: 90px;
  font-size: 40px;
  border-radius: 50%;
  padding: 0;
  margin: 0;
}

#galery-owl.owl-theme .owl-prev {
  left: 15px;
}

#galery-owl.owl-theme .owl-next {
  right: 15px;
}

.galery-item:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  opacity: 0;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.galery-item:hover:after {
  opacity: 0.8;
}

.galery-item {
	position: relative;
    text-align: center;
}
.galery-item .details {
		position: absolute;		
        top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 10;
        opacity: 0;
        transition: all 0.8s ease;			
}
.galery-item .details h1 {		
		margin: 0;		
		color: #dd0a37;
}

.galery-item .details p{
    color: white;
}

.galery-item:hover .details {
	opacity: 0.8;
	
}

.download-btn{
    text-align: center;
    margin-top: 50px;
}

#video-cta{
    margin-top: 150px;
}

.cta-content h2 {
  font-size: 42px;
  color: #FFF;
  text-transform: capitalize;
}

.cta-content p {
  color: #fff;
}

.cta-content .video-play {
  display: inline-block;
  height: 120px;
  width: 120px;
  margin: 0px auto 60px;
  background: #FFF;
  border-radius: 50%;
  text-align: center;
  line-height: 120px;
  font-size: 42px;
  color: #dd0a37;
  cursor: pointer;
}


#speakers {
  background-color: #F9F9FA;
}

.speaker {
  position: relative;
  cursor: pointer;
  margin-bottom: 30px;
}

.speaker:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  opacity: 0;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.speaker:hover:after {
  opacity: 0.8;
}

.speaker .speaker-img>img {
  width: 100%;
}

.speaker .speaker-body {
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0;
}

.speaker .speaker-content {
  position: relative;
  padding: 30px;
  background: #dd0a37;
  text-align: right;
  z-index: 20;
  top: 0;
  right: 0;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.speaker .speaker-content>h2 {
  color: #FFF;
}

.speaker .speaker-content>span {
  color: #fff;
}

.speaker:hover .speaker-content{
    -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
    
}

.speaker .speaker-social {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  z-index: 5;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.speaker .speaker-social>a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #FFF;
  background: #dd0a37;
  z-index: 15;
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity;
}

.speaker .speaker-social a+a {
  margin-left: -4px;
  border-left: 1px solid #f8f8ff33;
}

.speaker .speaker-social a:hover {
  opacity: 0.8;
}

.speaker:hover .speaker-social {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}





#contact.section {
  padding-bottom: 0px;
}

.contact {
  text-align: center;
  margin-bottom: 30px;
  margin-left: 320px;
}

.contact h3 {
  color: #dd0a37;
}





#footer {
  padding: 60px 0px;
}

.footer-brand {
  text-align: center;
}

.footer-brand .logo>img {
  max-height: 50px;
}

.copyright {
  height: 50px;
  line-height: 50px;
}

.contact-social {
  position: fixed;
  text-align: left;
  margin: 10px 0px;
  
  top: 50%;
  left: 0%;
  
}

.contact-social a {
  display: block;
  width: 40px;
  height: 40px;
  font-size: 20px;
  margin-bottom: 5px;
  text-align: center;
  border-radius: 50%;
  background: #dd0a37;
  color: #fff;
  line-height: 30px;
  margin-right: 15px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.contact-social a:hover {
  opacity: 0.8;
}



@media only screen and (max-width: 991px) {
  .contact-social {
    text-align: center;
    margin: 30px 0px;
  }
  .copyright {
    display: block;
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
  .home-content h1 {
    font-size: 31px;
  }
  .page-wrapper-content h1 {
    font-size: 31px;
  }
  .event .event-day {
    width: 90px;
    height: 90px;
  }
  .event .event-content {
    padding-left: 115px;
  }
  .event .event-day .day {
    font-size: 31px;
    line-height: 31px;
  }
  .event .event-hour {
    left: 47px;
  }
  .event:after {
    left: 45px;
  }
  .event+.event:before {
    left: 45px;
  }
}

@media only screen and (max-width: 480px) {
  [class*='col-xs'] {
    width: 100%;
  }
}

@media only screen and (max-width: 767px){
    .galery-item .details {
        height: 400px;
        width: 350px;
		position: absolute;		
        top: 50%;
		left: 50%;
		/*transform: translate(-50%, -50%);*/
		z-index: 10;
        opacity: 0;
        transition: all 0.8s ease;			
}
    
}

@media only screen and (max-width: 767px){
    .contact{
        margin-left: 30px;
    }
    .section-bg{
        background-image: url("../img/bg.gif");
        background-size: 100% 550px;
        height: 550px;
    }
}